@media (min-width: 1300px) {
  body {
    list-style: none;
    display: grid;
    grid-template-columns: 1300px;
    grid-template-rows: 100px 480px 400px 500px 550px 50px;
    grid-template-areas:
      "header"
      "main_section"
      "item_section"
      "about_section"
      "footer"
      "info_section";
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: "Fira Sans", sans-serif; /* The width is 100%, when the viewport is 1300px or smaller */
  }
  .header__list {
    display: flex;
  }
  .main_section__rightSide {
    width: 50%;
  }
  .main_section__leftSide {
    margin-left: 100px;
  }
  .main_section__leftSide {
    width: 50%;
  }
  .main_section__title {
    color: white;
    font-size: 120px;
    font-weight: 900;
  }
}
@media (max-width: 1300px) and (min-width: 850px) {
  body {
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 480px 400px 500px 550px 50px;
    grid-template-areas:
      "header"
      "main_section"
      "item_section"
      "about_section"
      "footer"
      "info_section";
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: "Fira Sans", sans-serif; /* The width is 100%, when the viewport is 1300px or smaller */
  }
  .header__list {
    display: flex;
  }
  .main_section__rightSide {
    width: 0%;
  }
  .main_section__leftSide {
    margin-left: 0;
  }
  .main_section__leftSide {
    width: 100%;
    margin-left: 50px;
  }
  .main_section__title {
    color: white;
    font-size: 100px;
    font-weight: 900;
  }
}

@media (max-width: 850px) {
  body {
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 480px 400px 1100px 550px 50px;
    grid-template-areas:
      "header"
      "main_section"
      "item_section"
      "about_section"
      "footer"
      "info_section";
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: "Fira Sans", sans-serif; /* The width is 100%, when the viewport is 1300px or smaller */
  }
  .item_section__itemslist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item_section__itemslist li {
    margin-bottom: 40px;
  }
  .about_section__leftSides {
    width: 100%;
    text-align: left;
    padding-right: 50px;
  }
  .about_section__rightSides--image {
    width: 30%;
    height: fit-content;
  }
  .about_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__list {
    display: none;
  }

  .main_section__leftSide {
    width: 100%;
    margin-left: 50px;
  }

  .main_section {
    font-size: 1rem;
  }
  .main_section__bothSides {
    font-size: 0.5rem;
  }
  .main_section__title {
    color: white;
    font-size: 60px;
    font-weight: 900;
  }
}

@media (max-width: 550px) {
  body {
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 480px 700px 1100px 550px 50px;
    grid-template-areas:
      "header"
      "main_section"
      "item_section"
      "about_section"
      "footer"
      "info_section";
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: "Fira Sans", sans-serif; /* The width is 100%, when the viewport is 1300px or smaller */
  }
}

ul,
h1,
h2,
h3,
h4 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__list {
  width: 50%;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin-left: 50px;
  font-size: 22px;
  font-weight: 500;
}

.header__list li {
  transition: color 0.2s ease;
}

.header__list li:hover {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

header {
  background-color: #ffbf69;
  display: flex;
  justify-content: space-around;
  transition: background-color 0.2s ease;
  align-items: center;
}

header {
  font-size: 12px;
}
header h1 {
  cursor: pointer;
}

.main_section {
  background-color: #ffbf69;
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-color 0.2s ease, background-image 0.2s ease;
  display: flex;
}
.main_section__bothSides {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main_section__leftSide {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main_section__leftSide h2 {
  color: white;
  margin-bottom: 115px;
}

.main_section__leftSide button {
  background-color: #cbf3f0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  height: 50px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 90px;
}
.main_section__leftSide button:hover {
  cursor: pointer;
}

.main_section:hover {
  background-color: #fc2e20;
  background-image: url(/background2.png);
}

.main_section__image {
  width: 500px;
}

.info_section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_section__bothSides {
  width: 70%;
  justify-content: center;
}

.info_section__bothSides h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}

.info_section__bothSides h2 {
  color: grey;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}

.item_section {
  background-color: #cbf3f0;
  text-align: center;
}
.about_section {
  text-align: center;
  display: flex;
  background-color: white;
  background-image: url(/bg-grid.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  transition: background-image 0.5s ease;
}

.about_section:hover {
  background-image: url(/bg-grid2.png);
}
.about_section__leftSides {
  text-align: left;
  padding-right: 50px;
}
.about_section__leftSides h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}
.about_section__leftSides h4 {
  color: rgb(20, 17, 17);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about_section__rightSides {
  width: 300px;
  display: flex;
}

.about_section__rightSides--image {
  width: 30%;
  height: fit-content;
}

footer {
  background-color: #333333;
}

.footer_list {
  color: white;
  justify-content: space-evenly;
  display: flex;
  margin-top: 20px;
  cursor: default;
}

.footer_list li {
  transition: font-weight 1 ease-in;
}

.footer_list li:hover {
  cursor: pointer;
  font-weight: 700;
}

.item_section__itemslist {
  margin-top: 100px;
  margin-top: 35px;
}

.item_section__title {
  font-size: 32px;
  font-weight: 800;
  margin-top: 90px;
}

.item_section__listItem {
  width: 300px;
}
.item_section__listItem h2 {
  margin-bottom: 30px;
}
.item_section__itemslist ul {
  display: flex;
  justify-content: space-around;
}
.item_section__listItem--button {
  background-color: #ffbf69;
  border: none;
  height: 50px;
  width: 200px;
  transition: background-color 1s ease;
  font-size: 24px;
  font-weight: 600;
}
.item_section__listItem--button:hover {
  background-color: #d7450f;
  cursor: pointer;
}

.item_section__listItem--image {
  width: 40%;
  height: 50%;
  margin-bottom: 30px;
  transition: transform 2s linear;
}
